<div class="<%= content_pane_counter==0 ? 'right_content_pane current_pane' : 'right_content_pane' %>" id="right_content_page<%= content_pane_counter %>">
  <%= render :partial => "events/right_content/#{content_pane}", :object => content_pane %>
</div>
